<script>
  let perPage = 5;
  const handleSelect = () => {

    alert("test")
    let perPage = 3
  }
</script>

<div class="pagination">
  <a href="<%= endpoint %>?page=1&perPage=12">1</a>
  <a href="<%= endpoint %>?page=2&perPage=12">2</a>
  <a href="<%= endpoint %>?page=3&perPage=12">3</a>
  <a href="<%= endpoint %>?page=4&perPage=12">4</a>
  <a href="<%= endpoint %>?page=5&perPage=12">5</a>
  <a href="<%= endpoint %>?page=6&perPage=12">6</a>
  <a href="<%= endpoint %>?page=7&perPage=12">7</a>
  <a href="<%= endpoint %>?page=8&perPage=12">8</a>
  <a href="<%= endpoint %>?page=9&perPage=12">9</a>
</div>