<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Express API by Nasim</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/index.css">

</head>
<%- include('../partials/header') -%>

<main>
  <section class="show">
    <button class="backBtn" onclick="window.history.back()"> Back </button>

    <div class="show-info">
      <div><span>Title: </span><%= show.title %></div>
      <div><span>Year: </span> <%= show.release_year %></div>
      <div><span>Description:</span> <%= show.description %></div>
      <div><span>Country:</span> <%= show.country %></div>
      <div><span>Director:</span> <%= show.director %></div>
      <div><span>Type: </span><%= show.type %></div>
      <div><span>Duration:</span> <%= show.duration %></div>
      <div><span>Cast: </span><%= show.cast %></div>
      <div><span>Genre: </span><%= show.listed_in %></div>
      <div><span>Date added: </span><%= show.date_added %></div>
    </div>
  </section>

</main>

<%- include('../partials/footer') -%>