<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<main>
  <h1> Movies & TV-shows </h1>
  <section class="card-wrapper movie-section">
    <% allData.map(item => { %>
    <a class="card" href="/show/id/<%= item.show_id %>">
      <div class="flex-top">
        <div class="title"><%= item.title %></div>
        <div>
          <div class="year"><%= item.release_year %></div>
          <div class="country"><%= item.country %></div>
        </div>
      </div>
      <div class="description"><%= item.description %></div>
    </a>
    <% }); %>

  </section>
  <%- include('../partials/pagination') -%>
</main>

<%- include('../partials/footer') -%>