<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<main>
  <h1> TV-Shows</h1>

  <section class="card-wrapper tv-shows-section">
    <% tvshows.map(tvshow => { %>
    <div class="card movies">
      <div class="flex-top">
        <div class="title"><%= tvshow.title %></div>
        <div>
          <div class="year"><%= tvshow.release_year %></div>
          <div class="country"><%= tvshow.country %></div>
        </div>
      </div>
      <div class="description"><%= tvshow.description %></div>
    </div>
    <% }); %>

  </section>
  <%- include('../partials/pagination') -%>
</main>

<%- include('../partials/footer') -%>