<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<main>
  <h1> TV-Shows</h1>

  <section class="wrapper tv-shows-section">
    <% tvshows.map(tvshow => { %>
    <div class="card tv-show">
      <div class="title"><%= tvshow.title %></div>
      <div class="year"><%= tvshow.release_year %></div>
    </div>
    <% }); %>

  </section>
</main>
<%- include('../partials/footer') -%>