<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<h1> TV-Shows</h1>

<div class="tv-shows-section">
  <% tvshows.map(tvshow => { %>
  <div class="card tv-show">
    <div class="title"><%= tvshow.title %></div>
    <div class="year"><%= tvshow.release_year %></div>
  </div>
  <% }); %>

</div>

<%- include('../partials/footer') -%>